:root {
    --color-dark: #2b2b2f;
    --color-darker: #1a1a1e;
    --color-darkest: #0e0e0f;

    --color-light: #9b9b9d;
    --color-lighter: #dededf;
    --color-lightest: #f4f4fb;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: var(--color-lightest);
    background-color: var(--color-darkest);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 3em 2em;
    border-radius: 0.6em;
    margin: min(2em, 5vw);
    background-color: var(--color-darker);
}

h1,
h2,
h3 {
    font-size: 2.5em;
}

h1 {
    color: var(--color-lightest);
}

h2 {
    color: var(--color-lighter);
}

h3 {
    color: var(--color-light);
}


form {
    margin: 2em 0;

    display: flex;
    flex-direction: column;
}

input[type="file"]{
    margin-top: 1em;
}

input[type="file"]::-webkit-file-upload-button{
    border: none;
    padding: 1em 2em;
    margin-right: 1.5em;
    border-radius: 0.4em;

    font-weight: 800;
    transition: filter 0.2s;
    color: var(--color-lightest);
    background-color: var(--color-darkest);
}

input[type="file"]::-webkit-file-upload-button:hover{
    cursor: pointer;
    filter: opacity(0.5);
}